# Entorno virtual
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos opcional
# db.sqlite3

# VSCode
.vscode/

# Sistema operativo
.DS_Store
Thumbs.db

# Variables de entorno
.env